{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Superb, premium HTML5 &amp; CSS3 template</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.css' %}">
  <style>
    .link-wishlist:hover {
      border: 1px solid #C2A476;
      background-color: #C2A476;
      color: white;
    }
  </style>
{% endblock %}

<body class="inner-page">
<div id="page">
  {% block content %}
    <section class="main-container col2-left-layout bounceInUp animated">
      <div class="container">
        <div class="row">
          <div class="col-main col-sm-9 col-sm-push-3">
              <article class="col-main">
                <div class="category-products">
                  <ol class="products-list" id="products-list">
                    {% for product in products %}
                      {% if product.quantity != 0 %}
                        <li class="item first">
                          <div class="product-image"> <a href="{% url 'product_detail' product.pk %}" title="HTC Rhyme Sense"> <img class="small-image" src="{{ product.cover_image.url }}" alt="HTC Rhyme Sense" width="150px" height="325px"> </a> </div>
                          <div class="product-shop">
                            <h2 class="product-name"><a href="{% url 'product_detail' product.pk %}" title="HTC Rhyme Sense">{{ product.product.name }}</a></h2>
                            <div class="desc std">
                              <p>{{ product.product.overview }}</p>
                            </div>
                            <div class="price-box"> 
                              {% if product.product.in_sale %}
                                <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ product.product.new_price|stringformat:".2f"  }}</span> </p> <p class="old-price"> <span class="price-label"></span> <span class="price"> ${{ product.product.price|stringformat:".2f"  }} </span> </p>
                              {% else %}
                                <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ product.product.price|stringformat:".2f"  }}</span> </p>
                              {% endif %}
                            </div>
                            <div class="actions">
                              <button class="button btn-cart ajx-cart" onclick = "functionAddToBasket($(this).attr('data'))" title="Add to Cart" type="button" data="{{ product.pk }}"><span>Add to Cart</span></button>
                              <button type="button" class="button link-wishlist add-to-links" onclick = "functionAddToWishlist($(this).attr('data'))" data="{{ product.pk }}" title="Add to Wishlist"><span>Add to Wishlist</span></button></div>
                          </div>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ol>
                </div>
                {% if is_paginated %}
                  <div class="row mt-5">
                    <div class="col text-center">
                      <div class="block-27">
                        <ul>
                          {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                          {% endif %}
                          {% for page in paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="active"><span>{{ page }}</span></li>
                            {% else %}
                                <li><a href="?page={{page}}">{{page}}</a></li>
                            {% endif %}
                          {% endfor %}
                          {% if page_obj.has_next %}
                              <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </article>
                <!--	///*///======    End article  ========= //*/// --> 
          </div>
          <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
              <aside class="col-left sidebar">
                <div class="side-nav-categories">
                  <div class="block-title"> Categories </div>
                  <!--block-title--> 
                  <!-- BEGIN BOX-CATEGORY -->
                  <div class="box-content box-category">
                    <ul>
                      {% for category in categories %}
                        <li class="category-field" data="{{ category.id }}" style="cursor: pointer; margin-bottom: 10px; padding: 10px 0;">{{ category.name }} <span class="subDropdown plus"></span>
                          <ul class="level0_455" style="display:none">
                            {% for s_category in s_categories %}
                              {% if s_category.p_category == category %}
                                <li class="category-field" data="{{ s_category.id }}" style="cursor: pointer; padding: 3px 0;">{{ s_category.name }}</li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                          <!--level0--> 
                        </li>
                      {% endfor %}
                      <!--level 0-->
                    </ul>
                  </div>
                  <!--box-content box-category--> 
                </div>
                <div class="block block-layered-nav">
                  <div class="block-title">Shop By</div>
                  <div class="block-content">
                    <dl id="narrow-by-list">
                      <dt class="even">Manufacturer</dt>
                      <dd class="even">
                        <ol>
                          {% for manufacturer in manufacturers %}
                            <li class="manufacturer-category" data = '{{ manufacturer.name }}' style="cursor: pointer;">{{ manufacturer.name }} </li>
                          {% endfor %}
                        </ol>
                      </dd>
                      <dt class="odd">Color</dt>
                      <dd class="odd">
                        <ol>
                          {% for color in colors %}
                            <li class="color-category" data = '{{ color.color_id__name }}' style="cursor: pointer;">{{ color.color_id__name }} ({{ color.count }}) </li>
                          {% endfor %}
                        </ol>
                      </dd>
                    </dl>
                  </div>
                </div>
              </aside>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slider.js' %}"></script> 
  <script src="{% static 'js/product_list.js' %}"></script>

{% endblock %}