{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Superb, premium HTML5 &amp; CSS3 template</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.css' %}">
{% endblock %}

<body class="inner-page">
<div id="page">
  {% block content %}
    <section class="main-container col2-left-layout bounceInUp animated">
      <div class="container">
        <div class="row">
          <div class="col-main col-sm-9 col-sm-push-3">
              <article class="col-main">
                <div class="category-products">
                  <ol class="products-list" id="products-list">
                    {% for product in products %}
                      <li class="item first">
                        <div class="product-image"> <a href="{% url 'product_detail' product.pk %}" title="HTC Rhyme Sense"> <img class="small-image" src="{{ product.cover_image.url }}" alt="HTC Rhyme Sense" width="150px" height="325px"> </a> </div>
                        <div class="product-shop">
                          <h2 class="product-name"><a href="{% url 'product_detail' product.pk %}" title="HTC Rhyme Sense">{{ product.product.name }}</a></h2>
                          <div class="desc std">
                            <p>{{ product.product.overview }}</p>
                          </div>
                          <div class="price-box"> 
                            {% if product.discount %}
                              <p class="special-price"> <span class="price-label"></span> <span class="price"> {{ product.new_price }}</span> </p> <p class="old-price"> <span class="price-label"></span> <span class="price"> {{ product.price }} </span> </p>
                            {% else %}
                              <p class="special-price"> <span class="price-label"></span> <span class="price"> {{ product.price }}</span> </p>
                            {% endif %}
                          </div>
                          <div class="actions">
                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#" data="{{ product.id }}"><span data="{{ product.id }}">Add to Wishlist</span></a> </span> </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ol>
                </div>
                <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
              
                      <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
              
                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
                </div>
              </article>
                <!--	///*///======    End article  ========= //*/// --> 
          </div>
          <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
              <aside class="col-left sidebar">
                <div class="side-nav-categories">
                  <div class="block-title"> Categories </div>
                  <!--block-title--> 
                  <!-- BEGIN BOX-CATEGORY -->
                  <div class="box-content box-category">
                    <ul>
                      {% for category in categories %}
                        <li> <a class="category-field" data="{{ category.id }}" href="#">{{ category.name }}</a> <span class="subDropdown plus"></span>
                          <ul class="level0_455" style="display:none">
                            {% for s_category in s_categories %}
                              {% if s_category.p_category == category %}
                                <li><a class="category-field" data="{{ s_category.id }}" href="#">{{ s_category.name }}</a></li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                          <!--level0--> 
                        </li>
                      {% endfor %}
                      <!--level 0-->
                    </ul>
                  </div>
                  <!--box-content box-category--> 
                </div>
                <div class="block block-layered-nav">
                  <div class="block-title">Shop By</div>
                  <div class="block-content">
                    <dl id="narrow-by-list">
                      <dt class="even">Manufacturer</dt>
                      <dd class="even">
                        <ol>
                          {% for manufacturer in manufacturers %}
                            <li class="manufacturer-category" data = '{{ manufacturer.manufacturer }}'>{{ manufacturer.manufacturer }} ({{ manufacturer.count }}) </li>
                          {% endfor %}
                        </ol>
                      </dd>
                      <dt class="odd">Color</dt>
                      <dd class="odd">
                        <ol>
                          {% for color in colors %}
                            <li class="color-category" data = '{{ color.color }}'>{{ color.color }} ({{ color.count }}) </li>
                          {% endfor %}
                        </ol>
                      </dd>
                    </dl>
                  </div>
                </div>
              </aside>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slider.js' %}"></script> 
  <script src="{% static 'js/product_list.js' %}"></script>
  <script src="{% static 'js/wishlist.js' %}"></script>
  
{% endblock %}